@import "ui-variables";

.pickpocket {

  button {

    border: 1px solid #888;
    background-color: #333;

  }

  #tools {

    padding: 4px;

  }

  #thumbs {

    max-height: 300px;
    overflow-y: scroll;

    img {

      max-width: 150px;
      border: 1px dotted #444;
      padding: 3px;
      margin: 3px;

    }

  }

}
