@import "ui-variables";

.pickpocket {

  width: 100%;
  height: 100%;

  .screen {
    height: 100%;
    overflow-y: auto;
  }

  .preview {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.85);
    image-rendering: pixelated;
    > div {
      display: flex;
      width: 100%;
    }
  }

  .thumbs {

    padding-bottom: 100px;

    .thumb {

      display: flex;
      justify-content: center;
      align-items: center;

      background-color: rgba(0, 0, 0, 0.1);
      border: 1px solid rgba(0, 0, 0, 0.1);

      float: left;
      position: relative;

      min-width: 98px;
      min-height: 98px;
      max-width: 98px;
      max-height: 98px;

      padding: 3px;
      margin: 3px;

      cursor: pointer;

      img {

        max-width: 94px;
        max-height: 94px;
        min-width: 40px;
        image-rendering: pixelated;

      }

      .meta {

        position: absolute;
        bottom: 0;
        right: 0px;
        font-size: 6pt;
        color: #666;
        text-shadow: 0px 0px 5px #000;
        padding: 0px 2px;

      }

    }

    .selected {

      background-color: rgba(0, 0, 0, 0.2);
      border: 1px solid #000;

    }

  }

  .toolbar {
    button span {

    }
    .icon::before {
      margin-right: 0 !important;
      line-height: 1.8 !important;
    }
  }

  .controls {
    padding: 4px;
    background-color: #1B1D23;
    color: #666;

    label {
      width: 70px;
    }

    .slider {
      display: inline-block;
      width: 188px;
    }

    input[type=range] {
      -webkit-appearance: none;
      background-color: #1B1D23;

    }

    input[type=range]::-webkit-slider-runnable-track {
      background: #282c34;
      border-radius: 5px;
      height: 12px;
    }

    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: none;
        height: 12px;
        width: 12px;
        border-radius: 50%;
        background: #888;
    }

    input[type=checkbox] {
      background-color: #888;
    }


  }

}
