@import "ui-variables";

.pickpocket {

  width: 100%;

  button {

    border: 0;
    background-color: #333;
    padding: 5px 13px;
    border-radius: 3px;

  }

  #tools {

    padding: 4px;

  }

  .thumbs {

    max-height: 300px;
    overflow-y: scroll;


    .thumb {

      display: flex;
      justify-content: center;
      align-items: center;

      background-color: rgba(0, 0, 0, 0.1);
      border: 1px solid rgba(0, 0, 0, 0.1);

      float: left;
      position: relative;

      min-width: 100px;
      min-height: 100px;
      max-width: 100px;
      max-height: 100px;

      padding: 3px;
      margin: 3px;

      cursor: pointer;

      img {

        max-width: 94px;
        max-height: 94px;
        min-width: 40px;
        image-rendering: pixelated;

      }

      .meta {

        position: absolute;
        bottom: 0;
        right: 4px;
        font-size: 6pt;
        color: #555;
        background-color: rgba(0, 0, 0, 0.7);

      }

      .metaName {
        position: absolute;
        bottom: 0;
        left: 4px;
        font-size: 6pt;
        color: #555;
        background-color: rgba(0, 0, 0, 0.7);
      }

    }

    .selected {

      background-color: rgba(0, 0, 0, 0.2);
      border: 1px solid #000;

    }

  }

}
